
<h1>흑과백2</h1>
<% if user_signed_in?%>
  <p><%=@user.email%>님, 환영합니다!</p>

  <p>총 전적: <%=@user.victories.count%>승/<%=@user.loses.count%>패</p>
  <a href="<%=destroy_user_session_path%>">로그아웃</a>
  <br>
  <a href="/main/new_room">방만들기</a>
<%else%>
  <p>3초만에 할 수 있는 회원가입을 하셔야 방 만들기와 전적관리를 하실 수 있습니다.</p>
<a href="/users/sign_up">3초만에 회원가입</a>
<a href="/users/sign_in">로그인</a>
<%end%>
<iframe width="100%"  scrolling="no"  src="//www.youtube.com/embed/eb5cGFRrmsg" frameborder="0" allowfullscreen></iframe>
<p>게임규칙: 9판 5선승제<br> 게임시작누른 사람이 선공<br> 후공은 상대보다 커야만 승리(상대숫자와 같아도 후공이 진다.)
<h2>참여 가능 방목록(1명 있는 방)</h2>
<% room_num = 0%>
<% @rooms.each do |room|%>
  <%if room.players.count < 2%>
    <a href="/main/room/<%=room.id%>"><p><%=room.title%></p></a>
    <%room_num = room_num + 1%>
  <%end%>
<%end%>
<%if room_num == 0%>
  <p>
열려있는 방이 없습니다.
</p>
<%end%>
<h2>만든 사람에게 하고 싶은 말</h2>
<form action="/main/feedback" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<textarea name="content"></textarea><br>
<input type="submit"value="보내기">
<p>만들기 쉽고 재밌는 게임 추천 좀</p>
</form>
