<div class="well">
    <p>제작자 왈: 업데이트 되면서 속도 빨라졌습니다. 그대신 했던 데이터는 날아갔습니다. 죄송합니다ㅠㅠ</p>
</div><br>    
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" scrolling="no" src="//www.youtube.com/embed/eb5cGFRrmsg" frameborder="0" allowfullscreen></iframe>
</div>
<div class="page-header">
    <h1>한 줄 게임규칙.</h1>
</div>
<ul>
    <li>9판 5선승제 구성.</li>
    <li>게임시작 누른 사람이 선공.</li>
    <li>후공은 상대보다 커야만 승리(상대숫자와 같아도 후공이 진다).</li>
    <li>즉, 5점 승점을 먼저 획득하는 사람이 최후 승리자!</li>
</ul>
<p>자세한 게임 규칙은 <a href="http://www.youtube.com/embed/eb5cGFRrmsg">위의 더 지니어스 게임 동영상</a> 을 참조해주세요!</p>

<div class="page-header"></div>
<% if user_signed_in?%>
<p><%=@user.email%>님, 환영합니다!</p>
<p>총 전적: <%=@user.victories.count%>승/<%=@user.loses.count%>패</p>
<a href="<%=destroy_user_session_path%>">로그아웃</a>
<br>
<a href="/main/new_room">방만들기</a>
<%else%>
<p>3초만에 할 수 있는 회원가입을 하셔야 방 만들기와 전적관리를 하실 수 있습니다.</p>
<a href="/users/sign_up">3초만에 회원가입</a>
<a href="/users/sign_in">로그인</a>
<%end%>


<h2>참여 가능 방목록(1명 있는 방)</h2>
<% room_num = 0%>
<% @rooms.each do |room|%>
<%if room.players.count < 2%>
<a href="/main/room/<%=room.id%>"><p><%=room.title%>(방장 전적: <%=room.user.victories.count%>승/<%=room.user.loses.count%>패)</p></a>
<%room_num = room_num + 1%>
<%end%>
<%end%>
<%if room_num == 0%>
<p>
열려있는 방이 없습니다.
</p>
<%end%>
